@media (min-width: 1199px){
    .navbar-toggle {
        display: none;
    }
}

.fieldset-grupo {
    min-width: 0;
    padding: 0;
    margin: 0 0 38px 0px;
    border: 0;
}

.metade{        
    width: 49%;
    display: inline-grid;
    margin: 0 0 0 3px;
}

.col-lg-11{
    @media (min-width: 1200px)
        .col-lg-11 {
        width: 98.666667% !important;
    }
}


input {
    border-radius: 9px !important;
}

select {
    border-radius: 9px !important;
}

.row{
    display: contents !important;
}

.card{
    margin: 4% 15% 0% 15%;
}

.img-login {
    max-height: 218px;
    width: auto;
    height: auto;
    /*margin-top: -16px;*/
    margin: 2% 10% 7% 0%;
}

.img-index{
    max-height: 218px;
    width: 30%;
    height: auto;
}

.img-header{
    width: 51%;
    margin: -3% 0% 0% -5%;
}

.img-profile{
    width: 24%;
    border-radius: 50%;
    margin: 0% 38%;
}

.btn_login {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #ffffff;
    padding: 10px 16px;
    background: -moz-linear-gradient(
        top,
        #5f5596 0%,
        #333b3d);
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#5f5596),
        to(#333b3d));
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    border: 1px solid #9fa4b3;
    -moz-box-shadow:
        6px 5px 10px rgba(130,145,186,0.6),
        inset 0px 0px 13px rgba(201,187,201,0.6);
    -webkit-box-shadow:
        6px 5px 10px rgba(130,145,186,0.6),
        inset 0px 0px 13px rgba(201,187,201,0.6);
    box-shadow:
        6px 5px 10px rgba(130,145,186,0.6),
        inset 0px 0px 13px rgba(201,187,201,0.6);
    text-shadow:
        0px -1px 0px rgba(000,000,000,0.4),
        0px 1px 0px rgba(255,255,255,0.3);
    width: 150px;
}

.col-lg-offset-1 {
    margin-left: 39.333333% !important;
}
